body {
    color:black;
    background:grey;
}
h1 {
    color:White;
    position:relative;
    text-align:center;
}
ul {
   list-style:none; 
}
.divtable {
    display:table-cell; 
    vertical-align:top;
}
.container {
    display:table;
}
.divtable-2 {
    display:table-cell;float:right;
}
img {
    max-width: 100px;
    display: block;
    height:auto;
}